aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
astroid==4.0.3
asttokens==3.0.1
asyncpg==0.31.0
attrs==25.4.0
azure-core==1.38.0
azure-identity==1.25.1
azure-keyvault-secrets==4.10.0
azure-storage-blob==12.28.0
azure-storage-queue==12.15.0
black==25.12.0
build==1.4.0
certifi==2026.1.4
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
comm==0.2.3
coverage==7.13.1
cryptography==46.0.3
databricks-sdk==0.77.0
debugpy==1.8.19
decorator==5.2.1
dill==0.4.0
distlib==0.4.0
docutils==0.22.4
et_xmlfile==2.0.0
executing==2.2.1
fastapi==0.128.0
filelock==3.20.2
flake8==7.3.0
flake8-docstrings==1.7.0
Flake8-pyproject==1.2.4
frozenlist==1.8.0
google-auth==2.47.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
id==1.5.0
identify==2.6.15
idna==3.11
iniconfig==2.3.0
ipykernel==7.1.0
ipython==9.9.0
ipython_pygments_lexers==1.1.1
isodate==0.7.2
isort==7.0.0
jaraco.classes==3.4.0
jaraco.context==6.1.0
jaraco.functools==4.4.0
jedi==0.19.2
jeepney==0.9.0
jupyter_client==8.8.0
jupyter_core==5.9.1
keyring==25.7.0
librt==0.7.7
loguru==0.7.3
mando==0.7.1
markdown-it-py==4.0.0
matplotlib-inline==0.2.1
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.8.0
msal==1.34.0
msal-extensions==1.3.1
multidict==6.7.1
mypy==1.19.1
mypy_extensions==1.1.0
nest-asyncio==1.6.0
nh3==0.3.2
nodeenv==1.10.0
openpyxl==3.1.5
packaging==25.0
parso==0.8.5
pathspec==1.0.2
pexpect==4.9.0
platformdirs==4.5.1
pluggy==1.6.0
pre_commit==4.5.1
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.2
psutil==7.2.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==2.23
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydocstyle==6.3.0
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.10.1
pylint==4.0.4
pyproject_hooks==1.2.0
pytest==9.0.2
pytest-asyncio==1.3.0
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.22
pytokens==0.3.0
PyYAML==6.0.3
pyzmq==27.1.0
radon==6.0.1
readme_renderer==44.0
requests==2.32.5
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.2.0
rsa==4.9.1
SecretStorage==3.5.0
six==1.17.0
snowballstemmer==3.0.1
stack-data==0.6.3
starlette==0.50.0
tomlkit==0.13.3
tornado==6.5.4
traitlets==5.14.3
twine==6.2.0
types-requests==2.32.4.20260107
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.40.0
virtualenv==20.36.0
wcwidth==0.2.14
yarl==1.22.0
